body {
    font-family: "Inter", sans-serif;
    background: #f0f5f0;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
}

.step {
    display: none;
    background: white;
    padding: 25px;
    border-radius: 15px;
}

.step.active {
    display: block;
}

h2 {
    color: #1b5e20;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    background: #2e7d32;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #256628;
}

.gejala-item {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    background: #eef9ee;
}

.slider-container {
    display: none;
    margin-top: 8px;
}